{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <h1 class="gold text-center"><i class="fas fa-crown"></i> О сервисе Angel Club 18+</h1>
        <p class="text-center lead">Элитное эскорт-агентство, созданное для тех, кто ценит красоту, стиль и безупречный сервис.</p>
        <hr class="border-secondary">
        <div class="row g-4 mt-3">
            <div class="col-md-4 text-center">
                <i class="fas fa-shield-alt fa-3x gold"></i>
                <h5 class="mt-2">Конфиденциальность</h5>
                <p>Мы гарантируем полную анонимность и безопасность ваших данных.</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fas fa-star fa-3x gold"></i>
                <h5 class="mt-2">Топ-модели</h5>
                <p>Только проверенные модели с безупречной репутацией и внешностью.</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fas fa-clock fa-3x gold"></i>
                <h5 class="mt-2">Круглосуточно</h5>
                <p>Мы работаем 24/7, чтобы вы могли насладиться отдыхом в любое время.</p>
            </div>
        </div>
        <p class="mt-4 text-muted text-center">Сайт предназначен для лиц старше 18 лет. Все модели совершеннолетние.</p>
    </div>
</div>
{% endblock %}
